/* ========= Common styles ========= */

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;

}


/* ========= Common styles ========= */

/* ========= Header styles ========= */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.page-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}   

.text-grey {
    color: #2e2f42;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address-nav {
    font-style: normal;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* ========= Header styles ========= */

/* ========= Main section styles ========= */

.section {
    padding: 188px 0;
    background: #2e2f42;
}

.heading-main {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.button-order {
    min-width: 169px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background: #4d5ae5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    border-radius: 4px;
}

.button-order:hover,
.button-order:focus {
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* ========= Features ========= */

.section-features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========= Features ========= */

/* ========= Team ========= */

.section-team {
    padding: 120px 0;
    background: #f4f4fd;
}

.subheading-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-member {
    background: #fff;
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    height: 380px;
    box-sizing: border-box;
    align-items: center;
}

.team-div-container{
    padding: 32px 0;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.position-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ========= Team ========= */

/* ========= Portfolio ========= */

.section-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.subheading-portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px)/3);
}

.product-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.product-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========= Portfolio ========= */

/* ========= Main section styles ========= */

/* ========= Footer styles ========= */

.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.text-white {
    color: #f4f4fd;
}

.desc-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* ========= Footer styles ========= */
