/* ========= Common styles ========= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========= Common styles ========= */

/* ========= Header styles ========= */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .text-grey {
  color: #2e2f42;
}

.nav-list,
.address-nav {
  display: none;
}

.burger-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  display: block;
  fill: #111;
  stroke: #111;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.active {
    position: relative;
  }

  .menu-link.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border: none;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .address-nav {
    display: flex;
    flex-direction: column;
    font-style: normal;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .contact-list:hover,
  .contact-list:focus,
  .menu-link-active {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-nav {
    display: flex;
    flex-direction: row;
    font-style: normal;
  }

  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ========= Header styles ========= */

/* ========= Main section styles ========= */

.section {
  width: 100%;
  min-height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/hero-image.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-main {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.button-order {
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

@media only screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
  }

  .heading-main {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
  }
}

/* ========= Features ========= */

.section-features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-item {
  width: 100%;
  margin-bottom: 72px;
}

.icon-center {
  display: none;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .features-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .features-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .feature-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ========= Features ========= */

/* ========= Team ========= */

.section-team {
  padding: 120px 0;
  background: #f4f4fd;
}

.subheading-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-member {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  height: 428px;
  box-sizing: border-box;
  align-items: center;
}

.team-div-container {
  padding: 32px 0;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.icon-member-link {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.icon-link-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-social {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 100%;
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
  }

  .team-member {
    width: calc((100% - 48px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
  }

  .team-member {
    width: calc((100% - 72px) / 4);
  }
}

/* ========= Team ========= */

/* ========= Portfolio ========= */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.subheading-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay .portfolio-text-overlay {
  transform: translatey(0);
}

.product-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-image {
  position: relative;
}

.portfolio-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: #fff;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(244, 244, 253);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 40px 32px;
  background: rgb(77, 90, 229);
}

@media only screen and (max-width: 767px) {
  .portfolio-list-item {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ========= Portfolio ========= */

/* ========= Main section styles ========= */

/* ========= Footer styles ========= */

.page-footer {
  display: flex;
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.text-white {
  color: #f4f4fd;
}

.desc-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-navigation {
  margin-right: 120px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
  margin-bottom: 16px;
}

.icon-footer-link {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-form {
  margin-left: auto;
}

.footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}

.footer-form-email::placeholder {
  color: #ffffff;
}

.btn-subscribe {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.btn-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/* ========= Footer styles ========= */

/* ========= backdrop ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: visibility, opacity, pointer-events; */
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  stroke: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-btn:focus,
.close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
  fill: #ffffff;
}

.modal-text {
  width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container-block {
  margin-bottom: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input-cont {
  position: relative;
  width: 100%;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-cont:hover .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.container-block-comment {
  margin-bottom: 16px;
}

.user-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  outline: transparent;
}

.user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.checkbox {
  display: none;
}

.label-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-checkbox a {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-send {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
  background: #404bbf;
  border: none;
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100vw);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0%);
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* mobile menu */
